<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>All you want to know about Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Fetch the info</h1>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">This could take a while!</a></p>
    </div>

    <!-- Mars Facts -->
    <div class="row" id="mars_facts">

      <div>
        <h3>{{ mars_data.top_story.title }} </h3>
        <p>{{ mars_data.top_story.teaser }}</p>
      </div>

      <div class="col-md-12">
        {{ mars_data.mars_facts|safe }} 
      </div>

    </div>

  </div>
</body>

</html>

